<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scms.admin.dao.AdminMapper">
  <resultMap id="BaseResultMap" type="com.scms.entity.Admin">
    <id column="manager_id" jdbcType="BIGINT" property="managerId" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
  </resultMap>
  <sql id="Base_Column_List">
    manager_id, pwd
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from manager
    where manager_id = #{managerId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from manager
    where manager_id = #{managerId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.scms.entity.Admin">
    insert into manager (manager_id, pwd)
    values (#{managerId,jdbcType=BIGINT}, #{pwd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.scms.entity.Admin">
    insert into manager
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="managerId != null">
        manager_id,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="managerId != null">
        #{managerId,jdbcType=BIGINT},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.scms.entity.Admin">
    update manager
    <set>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
    </set>
    where manager_id = #{managerId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scms.entity.Admin">
    update manager
    set pwd = #{pwd,jdbcType=VARCHAR}
    where manager_id = #{managerId,jdbcType=BIGINT}
  </update>
</mapper>