<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scms.admin.dao.SystemAnnounceMapper">
  <resultMap id="BaseResultMap" type="com.scms.entity.SystemAnnounce">
    <result column="announce_id" jdbcType="INTEGER" property="announceId" />
    <result column="target" jdbcType="INTEGER" property="target" />
    <result column="announce_time" jdbcType="TIMESTAMP" property="announceTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.scms.entity.SystemAnnounce">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Blob_Column_List">
    content
  </sql>
  <insert id="insert" parameterType="com.scms.entity.SystemAnnounce">
    insert into system_announce (announce_id, target, announce_time, 
      content)
    values (#{announceId,jdbcType=INTEGER}, #{target,jdbcType=INTEGER}, #{announceTime,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.scms.entity.SystemAnnounce">
    insert into system_announce
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="announceId != null">
        announce_id,
      </if>
      <if test="target != null">
        target,
      </if>
      <if test="announceTime != null">
        announce_time,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="announceId != null">
        #{announceId,jdbcType=INTEGER},
      </if>
      <if test="target != null">
        #{target,jdbcType=INTEGER},
      </if>
      <if test="announceTime != null">
        #{announceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>